
    <h2 class="country-name">{{name}}</h2>
    <div class="wrapper">
        <img src="{{flag}}" alt="{{name}} flag" class="flag-img" width="300">
        <ul class="list">
            <li class="description">Capital: <span class="text-value">{{capital}}</span></li>
            <li class="description">Languages:
                <ul>                
                    {{#each languages}}
                    <li><span class="text-value">{{name}}</span></li>
                    {{/each}}               
                </ul>
            </li> 
            <li class="description">Population: <span class="text-value">{{population}}</span></li> 
        </ul>
    </div>
    