
    <h2 class="country-name">{{name}}</h2>
    <img src="{{flag}}" alt="{{name}} flag" width="300">
    <ul>
        <li class="description">Capital: {{capital}}</li>
        <li class="description">Languages:
            <ul>                
                {{#each languages}}
                <li>{{name}}</li>
                {{/each}}               
            </ul>
        </li> 
        <li class="description">Population: {{population}}</li> 
    </ul>