
    <h2 class="country-name">{{name}}</h2>
    <img src="{{flag}}" alt="{{name}} flag">
    <ul>
        <li class="description">Languages: {{languages}}</li>
        <li class="description">Population: {{population}}</li>
        <li class="description">Languages: {{languages}}</li>
        <li class="description">Capital: {{capital}}</li>
    </ul>
  
